* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  color: #fff;
}

body.clair {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-left: -8px;
    margin-top: -10px;
    background-color: #000;
    border-bottom: solid rgb(0, 0, 0);
}

body.clair header {
  background-color: #fff;
}

.h1tete {
    text-decoration: underline;
}

.switch_style {
  cursor: pointer;
}

.debut {
    background-image: url(montredebut.jpg);
    text-align: center;
    height: 550px;
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -80px;
    margin-right: -80px;
    padding-bottom: 10px;
}

.styleBtn {
  background-color: #000;
  color: #fff;
  height: 100px;
}

.bouton-top {
    cursor: pointer;
}

.h2debut {
    font-size: 4rem;
    background: none;
}

.textedebut {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 2rem;
    background: none;
    
}

body.clair .textedebut {
    color: #fff;
}

body.clair .h2debut {
    color: #fff;
}

/* Partie design... */

.design {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.h2design{
  margin-top: 10px;
  font-size: 2rem;         
  font-weight: bold;
  text-align: center;      
  margin-bottom: 5px;
}

.description-design {
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  max-width: 900px;
}

.image-design {
  width: 700px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
}

/* PartieSkyDiver */

body.clair .PartieSkyDiver{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PartieSkyDiver {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  margin-top: 40px;
  gap: 40px;
  border-top: solid white;
}

.texteSkyDiver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texteSkyDiver h2 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.texteSkyDiver .price {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  text-decoration: underline;
}

.texteSkyDiver .description {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.bouton-boutique {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 3%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 5px;
  display: inline-block;
}

.bouton-boutique:hover {
  background: #dbd9d9;
}

body.clair .bouton-boutique{
  border: solid black;
}

body.clair .image-SkyDiver img {
  display: none;
}

.image-SkyDiver img{
  max-width: 100%;
  width: 4000px;
  height: auto;
  border-radius: 20px;
  margin-top: 220px;
}


/* PartieNebula */

.PartieNebula {
    display: flex;
    align-items: center;
}

body.clair .PartieNebula {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.texteNebula h2 {
  font-size: 6rem;         
  font-weight: bold;
  text-align: center;      
  margin-bottom: 5px;
}

.texteNebula {
  width: 50%;
  font-size: 1.6rem;
  text-align: center;
  margin-left: 30px;
  
}

.price {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;      
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: underline;
}

body.clair .description {
  max-width: 800px;
  margin-right: 10px;
}

.bouton-boutique {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 16px;    
}

.bouton-boutique:hover {
  height: auto;
  border-radius: 20px;
}

body.clair .image-Nebula img {
  display: none;
}

.image-Nebula img {
  max-width: 1200px;
  width: 90%;
  height: auto;
  border-radius: 20px;
  margin-top: 150px;
  margin-left: 30px;
}

/* formulaire */

body.clair .formulaire-container {
  border-top: solid black;
}

.formulaire-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  border-top: solid white;
  border-radius: 5%;
}

.form-nom {
  margin-top: 10px;
  max-width: 200px;
  height: 20px;
}

.form-prénom {
  margin-top: 20px;
  max-width: 200px;
  height: 20px;
}

.message-area {
  margin-top: 20px;
  max-width: 50%;
  max-height: 60px;
}

.valid {
  margin-top: 30px;
}



/* footer */
    
footer {
    padding: 60px 80px;
    margin-top: 60px;
    border-width: 2px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-left h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-left p {
    color: #555;
    margin-bottom: 20px;
}

.social-icons a img {
    width: 35px;
    margin-right: 12px;
    opacity: 0.7;
    transition: 0.2s;
}

.social-icons a img:hover {
    opacity: 1;
}

.footer-column h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-column a {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-decoration: white;
    font-size: 14px;
    transition: 0.2s;
}

.footer-column a:hover {
    color: #ffffff;
}

.flèche {
  height: auto;
  width: 50%;
  margin-top: 25px;
}