@media screen and (max-width : 400px) {
    .h2debut {
        font-size: 2rem;
    }

    .debut {
        max-height: 300px;
        max-width: 350px;
    }

    .textedebut {
        font-size: 1rem;
    }

    /* Modifications sur design */
    .design {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
            background: none;
        }
    
    .h2design {
        font-size: 1rem;
    }

    .description-design {
        font-size: 0.9rem;
    }

    .image-design {
        height: auto;
        width: 95%;
        margin-top: 20px;
    }
    /* ajustements de la partie skydiver */

    .PartieSkyDiver {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .texteSkyDiver h2 {
        font-size: 2rem;
        order: 1;
        margin-top: 5px;
    }

    .texteSkyDiver .price {
        font-size: 1rem;
        order: 2;
    }

    .texteSkyDiver .description {
        font-size: 1rem;
        line-height: 1;
        width: 350px;
        order: 3;
    }

    .image-SkyDiver {
        order: 5;
        max-width: 300px;
        height: auto;
        margin-left: 20px;
    }

    .image-SkyDiver img {
        margin-top: 0px;

    }

    .bouton-boutique {
        height: 40px;
        width: 100px;
        font-size: 1rem;
        padding: 0px; 
        order: 4;
        margin-top: 5px;
    }

    .bouton-boutique:hover {
        background: #dbd9d9;
        height: 40px;
        width: 100px;
    }

    /* ajustements nebula */

    .PartieNebula {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texteNebula h2 {
        font-size: 2rem;
    }

    .description {
        width: 100%;
    }

    .texteNebula {
        font-size: 0.8rem;
    }

    .image-Nebula img {
        margin-top: 20px;

    }

    .social-icons {
        display: flex;
        justify-content: space-between;
    }
    
}