body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
}

header {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.h1tete {
    text-decoration: underline;
}

.debut {
    background-image: url(montredebut.jpg);
    text-align: center;
    height: 500px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -80px;
    margin-right: -80px;
    
}

.h2debut {
    font-size: 4rem;
}

.textedebut {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    
}

/* PartieSkyDiver */

.PartieSkyDiver {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: white;
  border-radius: 30px;
  margin-top: 100px;
  gap: 40px;
}

.texteSkyDiver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texteSkyDiver h2 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.texteSkyDiver .price {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  text-decoration: underline;
}

.texteSkyDiver .description {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.boutton-boutique {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 5px;
  display: inline-block;
}

.boutton-boutique:hover {
  background: #ecebeb;
}

.image-SkyDiver img{
  max-width: 100%;
  width: 2000px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
  display: block;
}



/* PartieNebula */

.PartieNebula {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: white;
    padding: 40px;
}

.texteNebula h2 {
  font-size: 6rem;         
  font-weight: bold;
  text-align: center;      
  margin-bottom: 5px;
}
.texteNebula {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 1.6rem;
  text-align: center;
  margin-right: 50px;
}

.price {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;      
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: underline;
}

.boutton-boutique {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 16px;    
  display: inline-block; 
}

.boutton-boutique:hover {
  height: auto;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
  display: block;
}



    /* footer */
    
.footer {
    padding: 60px 80px;
    margin-top: 60px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-left h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-left p {
    color: #555;
    margin-bottom: 20px;
}

.social-icons a img {
    width: 35px;
    margin-right: 12px;
    opacity: 0.7;
    transition: 0.2s;
}

.social-icons a img:hover {
    opacity: 1;
}

.footer-column h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-column a {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-decoration: white;
    font-size: 14px;
    transition: 0.2s;
}

.footer-column a:hover {
    color: #000;
}


/* Bloc image */

.image-Nebula img {
  max-width: 1200px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
  display: block;
}



    /* footer */
    
.footer {
    padding: 60px 80px;
    margin-top: 60px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-left h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-left p {
    color: #555;
    margin-bottom: 20px;
}

.social-icons a img {
    width: 35px;
    margin-right: 12px;
    opacity: 0.7;
    transition: 0.2s;
}

.social-icons a img:hover {
    opacity: 1;
}

.footer-column h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-column a {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-decoration: white;
    font-size: 14px;
    transition: 0.2s;
}

.footer-column a:hover {
    color: #000;
}
